{% extends 'base.html.twig' %}

{% block title %}PrestationClient index{% endblock %}

{% block main %}
    <h1>PrestationClient index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Heure_debut</th>
                <th>Heure_fin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for prestation_client in prestation_clients %}
            <tr>
                <td>{{ prestation_client.id }}</td>
                <td>{{ prestation_client.heureDebut ? prestation_client.heureDebut|date('H:i:s') : '' }}</td>
                <td>{{ prestation_client.heureFin ? prestation_client.heureFin|date('H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('prestation_client_show', {'id': prestation_client.id}) }}">show</a>
                    <a href="{{ path('prestation_client_edit', {'id': prestation_client.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('prestation_client_new') }}">Create new</a>
{% endblock %}