{% extends 'base.html.twig' %}

{% block main %}

    <div id="bandeau">Lieu / <strong>Heure, Personne et Prestation(s)</strong></div>

    <span id="retour">
        <a href="/recherche/adresse"><img src="{{asset('img/fleche.png')}}" id="fleche"></a>
    </span>
    
    <div id="choix_prestation">
        <form method="POST" action="" id="form_personne">
            </br></br></br>
            <div id="heure" class="row">
                <h5 id="titre_heure">Heure :</h5>
                <input type="time" id="appt-time" name="appt-time" min="9:00" max="18:00" required />
            </div>
            <div id='contenu' class="container">
                
            </div>
            <input type="hidden" id="num" name="num">
            <input type='hidden' id='nbrPersonnes' value='1' name="nbrPersonnes">
            <input type='button' value='plus' id='plus'>
        
    </div>


    <div class="bouton_rechercher">
       <input type="submit" class="btn btn-secondary btn-lg" id="bouton_suivant" value="rechercher" name="rechercher" >
    </div>
    </form>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script>

    console.log({{presta}});
        function genererLigne(num){

            html="<div id='ligne"+num+"' class='row'><div id='personne"+num+"' class='col-sm-12 col-md-2'><h5>Personne :</h5><select name='inputGenre"+num+"' id='inputGenre"+num+"' class='form-control inputGenre' onchange='majPrestas()'><option value='homme'>homme</option><option value='femme'>femme</option><option value='enfant'>enfant</option></select></div><div id='type_cheveux"+num+"' class='col-sm-12 col-md-3'><h5>Type de cheveux :</h5><select name='inputType"+num+"'  id='inputType"+num+"' class='form-control inputType' onchange='majPrestas()'><option value='court'>court</option><option value='long'>long</option></select></div><div id='prestation"+num+"' class='col-sm-12 col-md-5'><h5>Prestation(s) :</h5><select multiple name='inputPrestas"+num+"[]'  id='inputPrestas"+num+"' class='form-control'></select></div><input type='button' id='moins"+num+"' value='supprimer' style='height:30%' onclick='supprimerLigne(this.getAttribute(\"id\"))'></div>";
            $('#contenu').append(html);
        }


        function supprimerLigne(id){

            //recuperer le numero de la ligne

            var nbr=/([0-9]+)/.exec(id)[0];
            
            // supprimer la ligne

            id="ligne"+nbr;

            var parentElement = document.getElementById("contenu");
            var imgElement = document.getElementById(id);
            parentElement.removeChild(imgElement);

            //modifier nbr personne

            nbr=$('#nbrPersonnes').val();
            nbr--;
            $('#nbrPersonnes').val(nbr);
        }


        // sur clic sur + => ajouter une personne

            $('#plus').on('click', function(e) {

                nbr=$('#nbrPersonnes').val();
                nbr++;
                $('#nbrPersonnes').val(nbr);

                nb=$('#num').val();
                nb++;
                genererLigne(nb);
                
                $('#num').val(nb);

                $('#form_personne').submit();


            });


        // sur changement genre ou type => submit

            function majPrestas(){

                $('#form_personne').submit();

            }


        // au chargement de la page:
            // structure
            
        {% if contenu is not empty %}
        
            {% if listeId is defined and listeId is not empty %}

                {% for id in listeId %}
                    
                    genererLigne({{id}});

                {% endfor %}

            {% endif %}

            

            // generer liste
            
            {% for nameInput,value in liste %}

                nameInput={{nameInput}};
                html=[];

                {% for element in value %}

                    html+='<option value="{{element['id']}}">{{element['nom']}}</option>';

                {% endfor %}

                $('#{{nameInput}}').html(html);

            {% endfor %}

            //remplir

            {% for element,valeur in contenu %}

                    $('#{{element}}').val('{{valeur}}');

            {% endfor %}

        {% else %}
        
            genererLigne(0);

            // generer liste
            
            {% for nameInput,value in liste %}

                nameInput={{nameInput}};
                html=[];

                {% for element in value %}

                    html+='<option value="{{element['id']}}">{{element['nom']}}</option>';

                {% endfor %}

                $('#{{nameInput}}').html(html);

            {% endfor %}

            $('#num').val(0);
            $('#nbrPersonnes').val(1);
        {% endif %}
    </script>
{% endblock %}