{% extends 'base.html.twig' %}

{% block main %}
<h1>presta</h1>
   {% for prest in presta %}

    {{prest}}<br>

    {% endfor %}
    <h1>liste id</h1>
    {{listeId}}
     {% for id in listeId %}

    {{id}}<br>


    {% endfor %}
    <h1>contenu</h1>
    {% for element,valeur in contenu %}
        {{element}}:{{valeur}}<br>
   {% endfor %}
{% endblock %}