<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
        {% endblock %}
        <link href="{{asset('css/reset.css')}}" rel="stylesheet">
        <link href="{{asset('css/style.css')}}" rel="stylesheet">
        
    </head>
     <header id="header_resultats">
        {% block header %}
           <nav class="navbar navbar-expand-sm navbar-light bg-dark row">
                <ul class="navbar-nav" style="width:100%">
                        <li class="nav-item col-4">
                            <a class="nav-link text-white" href="#">Espace coiffeur</a>
                        </li>
                        <li class="col-4" style="text-align:center">
                            <img class="mr-auto ml-auto pt-1 pb-1" src="{{asset('img/Calque4.png')}}">
                        </li>
                        <li class="nav-item col-4" style="text-align:right">
                            <a class="nav-link text-white" href="#">Espace client</a>
                        </li>
                </ul>
            </nav>
        {% endblock %}
    </header>

    <main id="main_resultats">
        {% block main %}
            <span id="retour">
                <a href="/recherche/resultats"><img src="{{asset('img/fleche.png')}}" id="fleche"></a>
            </span>

            <div id="div_photo">
                <img src="{{asset('img/salon.jpg')}}" id="photo_salon">
            </div>
            <div id="map_infos">
                <p>Map<p>
            </div>

            <div id="description_resultats" class="row">
                <div class="col-12">
                    <p><strong>Salon</strong></p>
                </div>
                <div class="col-4">
                    <p>10h30</p>
                </div>
                <div class="col-8">
                </div>
                <div class="col-4">
                    <p>Homme</p>
                </div>
                <div class="col-8">
                </div>
                <div class="col-4">
                    <p>Cheveux courts</p>
                </div>
                <div class="col-8">
                </div>
                <div class="col-4">
                    <p>Coupe homme</p>
                </div>
                <div class="col-8">
                </div>
                <div class="col-4">
                    <p>2 km</p>
                </div>
                <div class="col-8">
                </div>
                <div class="col-5">
                    <p>Note</p>
                </div>
                <div class="col-3">
                    <p><strong>Prix total : 20 €</strong></p>
                </div>
                <div class="offset-2 col-1">
                    <div class="bouton_reserver">
                        <a href="/recherche/resultats" id="a_bouton_reserver">
                            <button type="button" class="btn btn-secondary btn-lg" id="bouton_reserver">Réserver</button>
                        </a>
                    </div>
                </div>
            </div>

            <div id="prestations_proposees" class="row">
                <div class="col-10">
                    <p><strong>Prestations proposées :</strong></p>
                </div>
                <div class="col-2">
                     <p><strong>Tarifs :</strong></p>
                </div>
                <div class="col-10">
                    <p>Coupe homme</p>
                </div>
                <div class="col-2">
                    <p>20 €</p>
                </div>
                <div class="col-10">
                    <p>Coupe homme</p>
                </div>
                <div class="col-2">
                    <p>20 €</p>
                </div>
                <div class="col-10">
                    <p>Coupe homme</p>
                </div>
                <div class="col-2">
                    <p>20 €</p>
                </div>
                <div class="col-10">
                    <p>Coupe homme</p>
                </div>
                <div class="col-2">
                    <p>20 €</p>
                </div>
                <div class="col-10">
                    <p>Coupe homme</p>
                </div>
                <div class="col-2">
                    <p>20 €</p>
                </div>
            </div>
        {% endblock %}
    </main>

    <footer class="row footer bg-dark" id="footer_resultats">
        {% block footer %}
                <div class="col-md-1 d-none d-md-block d-lg-none d-lg-block d-xl-none d-xl-block">FAQ</div>
                <div class="col-md-1 d-none d-md-block d-lg-none d-lg-block d-xl-none d-xl-block">CGV</div>
                <div class="col-md-1 d-none d-md-block d-lg-none d-lg-block d-xl-none d-xl-block">Crédits</div>
                <div class="col-md-1 d-none d-md-block d-lg-none d-lg-block d-xl-none d-xl-block">Contact</div>
                <div class="offset-sm-4 col-sm-1"><i class="fab fa-facebook-square"></i></div>
                <div class="col-sm-1"><i class="fab fa-twitter"></i></div>
                <div class="col-sm-1"><i class="fab fa-instagram"></i></div>
                <div class="col-sm-1"><i class="fab fa-google-plus-g"></i>
                </div>
        {% endblock %}
    </footer>


        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
        {% endblock %}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</html>